{% extends 'portfolio_app/base_template.html' %}

{% block content %}
<h1>Musician Name: {{ musician.name }}</h1>

<p><strong>Email:</strong> {{ musician.email }}</p>
<p><strong>Instrument:</strong> {{ musician.get_main_instrument_display }}</p>
<p style="padding: 10px;"> <a href="{% url 'update-musician' musician.id %}" class="btn btn-warning" id="update">Update Musician</a></p>

<h3>{{ musician.name }}'s pieces: </h3>

{% if pieces %}

{% for piece in pieces %}
<div style="padding: 15px; border: 2px solid #000;">
    <strong>{{ piece.title }}</strong>
    <a class="btn btn-primary" href="{{ piece.get_absolute_url }}" role="button" id="view">View</a>
</div>
{% endfor %}
{% endif %}

<div style="padding: 10px">
    <a style="padding: 10px" class="btn btn-success" href="{% url 'create-piece' musician.id %}" role="button" id="add_piece">Add Piece</a>
</div>

{% endblock %}
