{% extends 'portfolio_app/base_template.html' %}

{% block content %}
<h1>Piece Title: {{ piece.title }}</h1>

<p><strong>Musician:</strong> <a href="{{ piece.musician.get_absolute_url }}"> {{ piece.musician.name }}</p> </a>

<p><strong>Genre:</strong> {{ piece.genre }}</p>
<p><strong>Type:</strong> {{ piece.get_piece_type_display }}</p>
<audio controls>
    <source src="{{ piece.mp3_file.url }}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<p style="padding: 10px;"> <a href="{% url 'update-piece' piece.id %}" class="btn btn-warning">Update Piece</a></p>
<p style="padding: 10px;"> <a href="{% url 'delete-piece' piece.id %}" class="btn btn-danger">Delete Piece</a></p>

{% endblock %}
